@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Open+Sans&family=Raleway&display=swap');

h1,
h2,
h3 {
  font-family: 'Dosis', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

.btn-purple {
  text-decoration: none;
  background-color: #861657;
  color: antiquewhite;
  padding: 25px 10px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(129, 129, 129);
  transition: all 1s;
}

.btn-purple:hover {
  background-color: #64093e;
  transform: scale(2, 0.5);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ACFCD9;
}

li {
  display: inline-block;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  object-position: 50% 30%;
}

ul {
  list-style: none;
  padding: 0;
}

.card {
  width: 800px;
  margin: 40px auto;
  text-align: center;
  background-color: #5DD9C1;
  padding: 20px 10px;
  border-radius: 8px;
}

i {
  font-size: 30px;
  letter-spacing: 10px;
}

@media (max-width: 960px) {
  .card {
    width: 700px;
  }
}


@media (max-width: 720px) {
  .card {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}




/* #861657
#5DD9C1
#ACFCD9 */